@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>You can find more information at:
    <a href="http://user335.io">user335.io</a>
</p>
<p>You can watch the game being developed live every night at 7:30PM MST at:
    <a href="https://twitch.tv/user335">Twitch.tv/user335</a>
</p>
<p>You can download the free demo for Windows at:
    <a href="https://user335.itch.io/rota">Itch.io</a>
</p>
