@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Englewood, CO<br />
</address>

<address>
    <strong>Email:</strong> <a href="mailto:badcopworsecopstudios@gmail.com">badcopworsecopstudios (at) gmail.com</a><br />
    <strong>Discord:</strong> <a href="https://discord.gg/FqzAhfG">discord.gg/FqzAhfG</a>
</address>
